link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')

script(type='text/javascript', src='bower_components/angular/angular.min.js')
script(type='text/javascript', src='bower_components/angular-resource/angular-resource.min.js')
script(type='text/javascript', src='app/app.js')
script(type='text/javascript', src='app/jobs.js')

body(ng-app='app')
    .container
        div(ng-controller='testController')
            h1 Post a Job
            form(ng-submit="submit()")
                .form-group
                    input.form-control(placeholder='Title', ng-model='title')
                .form-group
                    textarea.form-control(placeholder='Description', ng-model='description')
                .form-group
                    button.btn.btn-primary(type='submit') Post Job
            h1 Find a job today
            a.list-group-item(href='#', ng-repeat='job in jobs')
                h4.list-group-item-heading {{ job.title }}
                p.list-group-item-text {{ job.description }}