html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Job Finder Demo

        link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.min.css')

        script(type='text/javascript', src='lib/angular/angular.min.js')
        script(type='text/javascript', src='lib/angular-resource/angular-resource.min.js')
        script(type='text/javascript', src='app/app.js')
        script(type='text/javascript', src='app/jobs.js')

    body(ng-app='jobsApp', style='margin-bottom:50px; padding-bottom:50px;')
        div.container
            div(stype='padding:2px; margin: 2px;').jumbotron
                h1 Job Finder
                p This is a demo open source application for learninig many new web technologies.
                p The source code could be found at &nbsp;
                    a(href="https://github.com/sohailalam2/jobFinder").btn.btn-danger Github
            div.row
                div(ng-controller='JobController')
                    div.col-md-6
                        h1.bg-primary.text-center Post a new job
                        p.text-danger All new jobs will be deleted after 60 seconds!
                        hr
                        form(ng-submit="submit()")
                            .form-group
                                input.form-control(placeholder='Title', ng-model='title')
                            .form-group
                                textarea.form-control(placeholder='Description', ng-model='description')
                            .form-group
                                button.btn.btn-primary(type='submit') Post Job
                    div.col-md-6
                        h1.bg-success.text-center Find a job today
                        p.text-muted Some jobs are permanent, while other will go out in 60 seconds
                        hr
                        a.list-group-item(href='#', ng-repeat='job in jobs')
                            h4.list-group-item-heading {{ job.title }}
                            p.list-group-item-text {{ job.description }}